*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.logo{
    margin-left: 40px;
}
.container{
    display: flex;
    background-color: brown;
    position: relative;
    padding: 50px;
    
}
.left{
    margin-left: 50px;
    margin-top: 170px;
}
.h1left{
    font-size: 80px;
    color: rgb(253, 255, 255);
    

    
}
.strongleft{
    font-size: 30px;
     
     font-weight: 900;


}
#rightside1{
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;

}

.rightside{
    
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: right;
    
    margin-left: 180px;
    margin-top: 40px;
}
.input{
    width: 500px;
    height: 50px;
    background-color: brown;
    margin: 10px;
    color: aliceblue;
    border: 1px solid white;
   
}
::placeholder {
    font-size: 15px;
  color: rgb(209, 207, 207);
  opacity: 1; /* Firefox */
}
.righth3{
    font-weight: 900;
    color: rgb(0, 0, 0);
}
.plus{
    margin-left: 125px;

}
.textarea{
    width: 505px;
    height: 70px;
    background-color: brown;
    border: 1px solid white;
}
.pright{
    color: rgb(244, 244, 243);
    font-size: 13px;
}
.plus2{
    margin-left: 102px;

}
.plus3{
    margin-left: 77px;

}
.plus4{
    margin-left: 82px;

}
.plus5{
    margin-left: 90px;

}
.bottomimg{
    width: 20px;
    

}
.bottomcornerimg{
    position: absolute;
    bottom: 0;
    right: 0;
    filter: brightness(20);
    width: 90px;

}
/* .checkbox{
    color: rgb(139, 4, 4);
} */
