*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.logo{
    margin-left: 40px;
}
.container{
    display: flex;
    background-color: brown;
    position: relative;
    padding: 50px;
    margin-left: 13px;
    
}
p{
    line-height: 22px;
}
.left{
    margin-left: 40px;
    margin-top: 170px;
}
.h1left{
    font-size: 80px;
    color: rgb(253, 255, 255);
    

    
}
.strongleft{
    font-size: 27px;
     
     font-weight: 900;


}
.imgplus-flex{
    /* display: flex; */
    /* float:right; */
    
}
.imgplus-flex img{
    background-color: aliceblue;
    height: 10px;
    
   
}
#rightside1{
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;

}

.rightside{
    
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: right;
    
    margin-left: 180px;
    margin-top: 40px;
}
.form-item{
    margin-top: 10px;
}
.input{
    width: 500px;
    height: 50px;
    background-color: brown;
    margin: 10px;
    color: aliceblue;
    border: 1px solid white;
   
}
::placeholder {
    font-size: 15px;
  color: rgb(209, 207, 207);
  opacity: 1; /* Firefox */
}
.righth3{
    font-weight: 900;
    color: rgb(0, 0, 0);
    margin-bottom: -15px;
}
.plus{
    width: 17px;
    height: 19px;
    float: right;
    margin-left: 93px;
    margin-bottom: 10px;
}
input[type="checkbox"] {
  accent-color: #ff0000; /* Changes the color to red when checked */
}
.textarea{
    width: 505px;
    height: 70px;
    background-color: brown;
    border: 1px solid white;
}
.pright{
    color: rgb(244, 244, 243);
    font-size: 13px;
}
.plus2{
    
    /* margin-left: 102px; */

}
.plus3{
    width: 17px;
    height: 19px;
    float: right;
    margin-left: 80px;
    margin-bottom: 10px;

}
.plus3 img{
    margin-left: -7px;
}
.plus img{
    margin-left: -7px;

}
.plus5{
    /* margin-left: 90px; */

}
.bottomimg{
    width: 20px;
    

}
.last-button{
    margin-top: 20px;
    font-size: 20px;

}
.bottomcornerimg{
    position: absolute;
    bottom: 0;
    right: 0;
    filter: brightness(20);
    width: 90px;

}
/* .checkbox{
    color: rgb(139, 4, 4);
} */

.form-item-label {
    display: flex;
    align-items: center;
    gap: 6px;
    font-family: Arial, sans-serif;
    position: relative;
    margin-bottom: 10px;
}

 .plus1{
    width: 17px;
    height: 19px;
    float: right;
    margin-left: 125px;
    padding: 0;
 }
 .form-item-label {
            display: flex;
            align-items: center;
            gap: 6px;
            font-family: Arial, sans-serif;
            position: relative;
            margin-bottom: 10px;
        }

        /* Native checkbox (keep it native) */
        .checkbox-input {
            width: 16px;
            height: 16px;
            cursor: pointer;
            accent-color: red !important;
            /* original blue */
            z-index: 2;
        }

        /* Custom box (ONLY for unchecked state) */
        .custom-box {
            width: 10px;
            height: 10px;
            border: 1px solid white;
            position: absolute;
            left: 0;
            pointer-events: none;
        }

        /* UNCHECKED → hide native, show custom */
        .checkbox-input:not(:checked) {
            opacity: 0;
        }

        /* CHECKED → show native, hide custom */
        .checkbox-input:checked+.custom-box {
            display: none;
        }
        #plus-left{
            float: inline-end;
            gap: 20px;
            width: 15px;
            height: 15px;
            margin-top: 20px;
        }
        #plus-left2{
            float: inline-end;
            width: 15px;
            height: 15px;
            margin-top: 20px;
            margin-right: 20px;
        }